<!DOCTYPE html>
<html>
	<head>
	  	<title>My Personal Blog</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <%= csrf_meta_tags %>
	</head>
	
	<body>

		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="../#">Home</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		      	<li><a href="../blogs">Blog</a></li>
		      	<li><%= link_to 'New Blog Post', new_blog_path %></li>
		      	<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Portfolio <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="http://www.joelbergstein.com">Personal Site</a></li>
		            <li><a href="https://joeltwilioapp.herokuapp.com">Twilio API</a></li>
		            <li><a href="https://joelbergstein.herokuapp.com">Online Web Store</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<%= yield %>

		<footer class="container" id="bottomfooter">
	     	<div id="copyright"><h5>&copy; Joel Bergstein 2015</h5></div>
	    </footer>

	</body>
</html>
